@import '../../App.scss';

.home_section {
  @include flex(column, flex-start, flex-start);

  width: 75vw;
  height: 70vh;
  color: $white;
  margin: 20% auto;

  h1,
  span:first-child {
    color: $pink;
    letter-spacing: 1px;
  }

  h1 {
    font-size: 2.1em;
  }

  h2 {
    color: $light_gray;
    margin: 4px auto;
    font-size: 1.6em;
  }

  p {
    line-height: 1.2em;
    margin: 1em auto;
  }

  button {
    padding: 0.7em 1.5em;
    border: 1px $pink solid;
    border-radius: 8px;
    margin-top: 1em;

    a {
      color: $pink;
    }
  }
}

