@import '../../App.scss';

.card_container {
	@include flex(column, center, space-around);
	margin: auto;
	min-height: 500px;
	background-color: rgb(122, 122, 121);

	.project_image {
		border-radius: 3px
	}

	ul {
		@include flex(row, center, space-around);
		flex-wrap: wrap;
		//width: 60%;

		li {
			color: $pink;
			border: 1px $pink solid;
			border-radius: 4px;
			padding: 0.2em 0.7em;
		}
	}

	.links_btn {
		button {
			color: $white;
			background-color: $pink;
			border-radius: 4px;
			padding: 0.7em 1.6em;
		}
	}
}
