@import '../../App.scss';


.aboutme {
	@include flex(column, center, space-around);
	background-color: #2d2d2d;
	width: 90%;
	height: 250px;
	margin: auto;
	padding: 1em;
	border-radius: 8px;
	color: $white;

	p { 
	text-align: center;
	letter-spacing: 1px;
	span {
		color: $pink;
		font-weight: 700;
	}

}

 .resume {
	@include flex(row, center, space-around);
	 background-color: $pink;
	 width: 35%;
	 padding: 0.6em 1em;
	 border-radius: 8px;

	 a {
		 color: $white;
	 }
 }

}
