@import '../../App.scss';

.aboutme {
  @include flex(column, center, space-around);

  background-color: #2d2d2d;
  width: 90%;
  height: 250px;
  margin: 50px auto;
  padding: 1em;
  border-radius: 8px;
  color: $white;

  p {
    text-align: center;
    letter-spacing: 1px;

    span {
      color: $pink;
      font-weight: 700;
    }
  }

  .resume {
    @include flex(row, center, space-around);

    background-color: $pink;
    width: 35%;
    padding: 0.6em 1em;
    border-radius: 8px;

    a {
      color: $white;
    }
  }
}

.skills_card_list {
  display: grid;
  grid-template-columns: repeat(1, 80%);
  row-gap: 80px;
  margin-top: 60px;
  justify-content: center;
}

.skill_card {
  @include flex(column,center, space-around);

  background-color: $pink;
  border-radius: 8px;
  color: $white;
  height: 350px;

  h4 {
    font-size: 1.5em;
    letter-spacing: 1px;
    width: 70%;
    text-align: center;
  }

  ul {
    @include flex(row, center, space-around);

    width: 60%;
    height: 60%;
    flex-wrap: wrap;

    li {
      @include flex(column,center, space-around);

      margin-left: 5px;

      svg {
        font-size: 30px;
        margin-bottom: 5px;
      }
    }
  }
}
